APP_ENV=local

POSTGRES_DB=user_registration
POSTGRES_HOST=localhost
POSTGRES_USER=user_registration
POSTGRES_PASSWORD=user_registration_password
POSTGRES_PORT=5432
POSTGRES_POOL_MIN_SIZE=1
POSTGRES_POOL_MAX_SIZE=10
POSTGRES_POOL_COMMAND_TIMEOUT=30.0
